### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml
out
gen


.env
*.properties
!*.properties.example

services/auth-service/logs
services/notification-service/logs