spring.application.name=auth-service


# Data Source
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/krainet_task_db
spring.datasource.username=
spring.datasource.password=

# Hibernate
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.show_sql=true
spring.jpa.properties.hibernate.format_sql=true

# Flyway
spring.flyway.user=
spring.flyway.password=

# JWT
jwt.secret-base64=
jwt.expiration=

# Rabbit
spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username=guest
spring.rabbitmq.password=guest
